In [1]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\souna\\Downloads\\consumers-price-index-june-2024-quarter-index-numbers.csv")
csv_1

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.03,NaN,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21393,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21394,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [2]:
# to drop the missinga data of cols
csv_1.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[21395 rows x 0 columns]

In [3]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\souna\\Downloads\\consumers-price-index-june-2024-quarter-index-numbers.csv")
csv_1

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.03,NaN,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21393,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21394,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [4]:
#full null values is removed
csv_1.dropna(how="all")

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
2,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.03,NaN,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
5,CPIQ.SE901,1915.09,14.919183,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21393,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21394,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [5]:

#to work on null values
csv_1.dropna(thresh=3)

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
2,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.03,NaN,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
5,CPIQ.SE901,1915.09,14.919183,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21393,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21394,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [6]:
csv_1

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.03,NaN,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21393,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21394,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [7]:
# to fill values at blank spaces
csv_1.fillna("python")

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,python
1,python,python,python,python,python,python,python,python,python
2,CPIQ.SE901,1914.12,0.0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,python
3,CPIQ.SE901,1915.03,python,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,python
4,CPIQ.SE901,1915.06,0.0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,python
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,python
21391,CPIQ.SE9A,2023.09,1253.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,python
21392,CPIQ.SE9A,2023.12,1259.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,python
21393,CPIQ.SE9A,2024.03,1267.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,python
21394,CPIQ.SE9A,2024.06,1272.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,python

In [8]:
# the col null values are filled with 100
csv_1.fillna("100",axis=1)

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,100
1,100,100,100,100,100,100,100,100,100
2,CPIQ.SE901,1914.12,0.0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,100
3,CPIQ.SE901,1915.03,100,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,100
4,CPIQ.SE901,1915.06,0.0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,100
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,100
21391,CPIQ.SE9A,2023.09,1253.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,100
21392,CPIQ.SE9A,2023.12,1259.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,100
21393,CPIQ.SE9A,2024.03,1267.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,100
21394,CPIQ.SE9A,2024.06,1272.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,100

In [9]:
#forward filling method
csv_1.fillna(method="ffill")

C:\Users\souna\AppData\Local\Temp\ipykernel_15096\3928635997.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_1.fillna(method="ffill")

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
1,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
2,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.03,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21393,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21394,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [10]:
#backward filling method

csv_1.fillna(method="bfill")

C:\Users\souna\AppData\Local\Temp\ipykernel_15096\2766017462.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_1.fillna(method="bfill")

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
1,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
2,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.03,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21393,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21394,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [11]:
#forwards filling method in cols
csv_1.fillna(method="bfill",axis=1)

C:\Users\souna\AppData\Local\Temp\ipykernel_15096\1708186598.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_1.fillna(method="bfill",axis=1)
C:\Users\souna\AppData\Local\Temp\ipykernel_15096\1708186598.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  csv_1.fillna(method="bfill",axis=1)

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CPIQ.SE901,1914.12,0.0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.03,FINAL,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.06,0.0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2023.09,1253.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2023.12,1259.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21393,CPIQ.SE9A,2024.03,1267.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21394,CPIQ.SE9A,2024.06,1272.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [12]:
#forward filling method in cols

csv_1.fillna(method="ffill",axis=1)

C:\Users\souna\AppData\Local\Temp\ipykernel_15096\104573572.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_1.fillna(method="ffill",axis=1)
C:\Users\souna\AppData\Local\Temp\ipykernel_15096\104573572.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  csv_1.fillna(method="ffill",axis=1)

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,Food
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CPIQ.SE901,1914.12,0.0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,Food
3,CPIQ.SE901,1915.03,1915.03,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,Food
4,CPIQ.SE901,1915.06,0.0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,Food
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,All groups
21391,CPIQ.SE9A,2023.09,1253.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,All groups
21392,CPIQ.SE9A,2023.12,1259.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,All groups
21393,CPIQ.SE9A,2024.03,1267.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,All groups
21394,CPIQ.SE9A,2024.06,1272.0,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,All groups

In [13]:
#values is replaced and new file is created
csv_1.fillna(200, inplace=True)
csv_1

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,200.0
1,200,200.00,200.000000,200,200,200,200,200,200.0
2,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,200.0
3,CPIQ.SE901,1915.03,200.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,200.0
4,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,200.0
...,...,...,...,...,...,...,...,...,...
21390,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,200.0
21391,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,200.0
21392,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,200.0
21393,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,200.0
21394,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,200.0