In [6]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\souna\\Downloads\\consumers-price-index-june-2024-quarter-index-numbers.csv")
csv_1[:2]

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2
0,CPIQ.SE901,1914.06,13.167858,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
1,CPIQ.SE901,1914.09,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN

In [7]:
print(type(csv_1))
csv_1.index.array

<class 'pandas.core.frame.DataFrame'>

<NumpyExtensionArray>
[    np.int64(0),     np.int64(1),     np.int64(2),     np.int64(3),
     np.int64(4),     np.int64(5),     np.int64(6),     np.int64(7),
     np.int64(8),     np.int64(9),
 ...
 np.int64(21385), np.int64(21386), np.int64(21387), np.int64(21388),
 np.int64(21389), np.int64(21390), np.int64(21391), np.int64(21392),
 np.int64(21393), np.int64(21394)]
Length: 21395, dtype: int64

In [8]:
csv_1.to_numpy

<bound method DataFrame.to_numpy of       Series_reference   Period   Data_value STATUS  UNITS Subject  \
0           CPIQ.SE901  1914.06    13.167858  FINAL  Index     CPI
1           CPIQ.SE901  1914.09     0.000000  FINAL  Index     CPI
2           CPIQ.SE901  1914.12     0.000000  FINAL  Index     CPI
3           CPIQ.SE901  1915.03     0.000000  FINAL  Index     CPI
4           CPIQ.SE901  1915.06     0.000000  FINAL  Index     CPI
...                ...      ...          ...    ...    ...     ...
21390        CPIQ.SE9A  2023.06  1231.000000  FINAL  Index     CPI
21391        CPIQ.SE9A  2023.09  1253.000000  FINAL  Index     CPI
21392        CPIQ.SE9A  2023.12  1259.000000  FINAL  Index     CPI
21393        CPIQ.SE9A  2024.03  1267.000000  FINAL  Index     CPI
21394        CPIQ.SE9A  2024.06  1272.000000  FINAL  Index     CPI

                                    Group Series_title_1  Series_title_2
0      CPI Level 1 Groups for New Zealand           Food             NaN
1      CPI Level 1 Groups for New Zealand           Food             NaN
2      CPI Level 1 Groups for New Zealand           Food             NaN
3      CPI Level 1 Groups for New Zealand           Food             NaN
4      CPI Level 1 Groups for New Zealand           Food             NaN
...                                   ...            ...             ...
21390      CPI All Groups for New Zealand     All groups             NaN
21391      CPI All Groups for New Zealand     All groups             NaN
21392      CPI All Groups for New Zealand     All groups             NaN
21393      CPI All Groups for New Zealand     All groups             NaN
21394      CPI All Groups for New Zealand     All groups             NaN

[21395 rows x 9 columns]>