In [32]:
import pandas as pd
import numpy as np
var=pd.DataFrame({"A": [1, 2, 3], "B": [4, 5,6]})
var["C"] = var["A"] + var["B"]
var.insert(2,"D", np.random.randn(3))
print(var)
print()
var.pop("D")
print(var)
print()
var["C"]=var["A"]>2
print(var)

   A  B         D  C
0  1  4  1.669321  5
1  2  5 -0.424353  7
2  3  6  0.804452  9

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

   A  B      C
0  1  4  False
1  2  5  False
2  3  6   True

In [33]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\souna\\Downloads\\consumers-price-index-june-2024-quarter-index-numbers.csv",nrows=5,usecols=[0,2,3,4])
csv_1

  Series_reference  Data_value STATUS  UNITS
0       CPIQ.SE901   13.167858  FINAL  Index
1       CPIQ.SE901    0.000000  FINAL  Index
2       CPIQ.SE901    0.000000  FINAL  Index
3       CPIQ.SE901    0.000000  FINAL  Index
4       CPIQ.SE901    0.000000  FINAL  Index

In [34]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\souna\\Downloads\\consumers-price-index-june-2024-quarter-index-numbers.csv",index_col="STATUS")
csv_1

,Series_reference,Period,Data_value,UNITS,Subject,Group,Series_title_1,Series_title_2
STATUS,,,,,,,,
FINAL,CPIQ.SE901,1914.06,13.167858,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
FINAL,CPIQ.SE901,1914.09,0.000000,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
FINAL,CPIQ.SE901,1914.12,0.000000,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
FINAL,CPIQ.SE901,1915.03,0.000000,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
FINAL,CPIQ.SE901,1915.06,0.000000,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...
FINAL,CPIQ.SE9A,2023.06,1231.000000,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
FINAL,CPIQ.SE9A,2023.09,1253.000000,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
FINAL,CPIQ.SE9A,2023.12,1259.000000,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
FINAL,CPIQ.SE9A,2024.03,1267.000000,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
FINAL,CPIQ.SE9A,2024.06,1272.000000,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [35]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\souna\\Downloads\\consumers-price-index-june-2024-quarter-index-numbers.csv",header=2)
csv_1

,CPIQ.SE901,1914.09,0,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NA
0,CPIQ.SE901,1914.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
1,CPIQ.SE901,1915.03,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
2,CPIQ.SE901,1915.06,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
3,CPIQ.SE901,1915.09,14.919183,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
4,CPIQ.SE901,1915.12,0.000000,FINAL,Index,CPI,CPI Level 1 Groups for New Zealand,Food,NaN
...,...,...,...,...,...,...,...,...,...
21388,CPIQ.SE9A,2023.06,1231.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21389,CPIQ.SE9A,2023.09,1253.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21390,CPIQ.SE9A,2023.12,1259.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21391,CPIQ.SE9A,2024.03,1267.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN
21392,CPIQ.SE9A,2024.06,1272.000000,FINAL,Index,CPI,CPI All Groups for New Zealand,All groups,NaN

In [36]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\souna\\Downloads\\consumers-price-index-june-2024-quarter-index-numbers.csv",names=["sounak","mandril","arka","amit","kaka"])
csv_1

                                                 sounak  mandril  \
Series_reference Period  Data_value       STATUS  UNITS  Subject
CPIQ.SE901       1914.06 13.1678579027356 FINAL   Index      CPI
                 1914.09 0                FINAL   Index      CPI
                 1914.12 0                FINAL   Index      CPI
                 1915.03 0                FINAL   Index      CPI
...                                                 ...      ...
CPIQ.SE9A        2023.06 1231             FINAL   Index      CPI
                 2023.09 1253             FINAL   Index      CPI
                 2023.12 1259             FINAL   Index      CPI
                 2024.03 1267             FINAL   Index      CPI
                 2024.06 1272             FINAL   Index      CPI

                                                                                arka  \
Series_reference Period  Data_value       STATUS                               Group
CPIQ.SE901       1914.06 13.1678579027356 FINAL   CPI Level 1 Groups for New Zealand
                 1914.09 0                FINAL   CPI Level 1 Groups for New Zealand
                 1914.12 0                FINAL   CPI Level 1 Groups for New Zealand
                 1915.03 0                FINAL   CPI Level 1 Groups for New Zealand
...                                                                              ...
CPIQ.SE9A        2023.06 1231             FINAL       CPI All Groups for New Zealand
                 2023.09 1253             FINAL       CPI All Groups for New Zealand
                 2023.12 1259             FINAL       CPI All Groups for New Zealand
                 2024.03 1267             FINAL       CPI All Groups for New Zealand
                 2024.06 1272             FINAL       CPI All Groups for New Zealand

                                                            amit  \
Series_reference Period  Data_value       STATUS  Series_title_1
CPIQ.SE901       1914.06 13.1678579027356 FINAL             Food
                 1914.09 0                FINAL             Food
                 1914.12 0                FINAL             Food
                 1915.03 0                FINAL             Food
...                                                          ...
CPIQ.SE9A        2023.06 1231             FINAL       All groups
                 2023.09 1253             FINAL       All groups
                 2023.12 1259             FINAL       All groups
                 2024.03 1267             FINAL       All groups
                 2024.06 1272             FINAL       All groups

                                                            kaka
Series_reference Period  Data_value       STATUS  Series_title_2
CPIQ.SE901       1914.06 13.1678579027356 FINAL              NaN
                 1914.09 0                FINAL              NaN
                 1914.12 0                FINAL              NaN
                 1915.03 0                FINAL              NaN
...                                                          ...
CPIQ.SE9A        2023.06 1231             FINAL              NaN
                 2023.09 1253             FINAL              NaN
                 2023.12 1259             FINAL              NaN
                 2024.03 1267             FINAL              NaN
                 2024.06 1272             FINAL              NaN

[21396 rows x 5 columns]